:root {
    font-family: Inter, sans-serif;
    src: url('../fonts/Inter-Regular.woff2') format('WOFF');
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

body {
    margin: 0;
}

.mi{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
}

.banners{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    z-index: 1000;
}
.banners a {
    text-decoration: none;
    opacity: 0.5;
    transition: 0.3s;
}
.banners a:hover {
    opacity: 1;
}

.absolute-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

socials a {
    text-decoration: none;
    padding-right: 5px;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

socials a:hover {
    opacity: 1;
}

a {
    color: #323266;
}

